.search {
    height: 54px;
    @include flexcenterXY;
    box-sizing: border-box;
    background-color: $light-grey;
    gap: 15px;
    padding-left: 65px;
    .search-bar {
        background: none;
        border: none;
        outline: none;
        &::placeholder {
            color: $black;
            font-weight: bold;
        }
    }
}
