.menu {
    display: flex;
    flex-direction: column;
    img {
        width: 100%;
        height: 225px;
        object-fit: cover;
        @include desktop-only {
            height: 390px;
        }
    }
    .menu-full-box {
        background-color: $background;
        border-radius: 40px 40px 0px 0px;
        position: relative;
        margin-top: -44px;
        @include desktop-only {
            justify-content: center;
            margin-left: 190px;
            margin-right: 190px;
        }
        @include small-desktop {
            margin-left: 140px;
            margin-right: 140px;
        }
        .order-btn {
            @include flexcenterXY;
            padding-bottom: 55px;
        }
        .menu-container {
            padding: 0px 12px 40px 12px;
            @include desktop-only {
                padding: 0px 220px 40px 220px;
            }
            @include small-desktop {
                padding-left: 80px;
                padding-right: 80px;
            }
            .title-and-like-icon {
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                padding: 30px 25px 0px 16px;
                @include desktop-only {
                    font-size: 28px;
                    @include flexcenterXY;
                }
                .like-icon {
                    padding-top: 7px;
                    @include desktop-only {
                        padding: 0px 0px 0px 25px;
                    }
                }
            }
            .menu-animation {
                .menu-article {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    h2 {
                        padding-top: 30px;
                        padding-bottom: 5px;
                        border-bottom: 3px solid $tertiary-color;
                        width: 40px;
                    }
                    .menu-card {
                        height: 60px;
                        width: 100%;
                        background: #f7f7f7;
                        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                        border-radius: 15px;
                        position: relative;
                        padding: 9px 0px 9px 12px;
                        h3 {
                            padding-bottom: 4px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .tasteandprice-txt {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            p {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .price {
                                padding-right: 12px;
                                padding-left: 20px;
                            }
                        }
                        .check-box {
                            display: none;
                            background: #99e2d0;
                            border-radius: 0 15px 15px 0;
                            right: 0px;
                            bottom: 20px;
                            padding: 0 1rem;
                            height: 60px;
                            .check-icon {
                                border-radius: 50%;
                                background-color: $white;
                                color: $tertiary-color;
                                padding: 5px 5px 5px 5px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
