/*loader*/
.loader-container {
    position: fixed;
    z-index: 2;
    background-color: $white;
    width: 100%;
    height: 100%;
    animation: fade-out 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    @include flexcenterXY;
    .loader-txt {
        @include flexcenterXY;
        .loader-logo {
            font-family: "Shrikhand";
            font-size: 32px;
            animation: lefttoright 2s ease-in-out;
            -webkit-background-clip: text;
        }
        .letter-1 {
            animation-delay: 0s;
        }
        .letter-2 {
            animation-delay: 0.1s;
        }
        .letter-3 {
            animation-delay: 0.2s;
        }
        .letter-4 {
            animation-delay: 0.3s;
        }
        .letter-5 {
            animation-delay: 0.4s;
        }
        .letter-6 {
            animation-delay: 0.5s;
        }
        .letter-7 {
            animation-delay: 0.6s;
        }
        .letter-8 {
            animation-delay: 0.6s;
        }
    }
    .loader {
        position: absolute;
        display: block;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        border: 7px solid transparent;
        border-top-color: $primary-color;
        animation: spin 2s linear infinite;
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 7px solid transparent;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border-top-color: $secondary-color;
            animation: spin 3s linear infinite;
        }
        &::after {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 7px solid transparent;
            top: 25px;
            left: 25px;
            right: 25px;
            bottom: 25px;
            border-top-color: $tertiary-color;
            animation: spin 1.5s linear infinite;
        }
    }
}

/*menu-animations*/
/*Entrées-PLats-Desserts*/
.menu .menu-full-box .menu-container .menu-animation {
    .first-child {
        @include animation-menu(0.2s);
    }
    .second-child {
        @include animation-menu(0.5s);
    }
    .third-child {
        @include animation-menu(0.7s);
    }
}
/*check-box*/
.menu .menu-full-box .menu-container .menu-animation .menu-article .menu-card {
    &:hover {
        cursor: pointer;
    }
    &:hover .check-box {
        @include flexcenterXY;
        position: absolute;
        bottom: 0px;
        animation: to-left 0.5s ease;
        transform-origin: right;
        .check-icon {
            animation: spin 0.5s ease-out;
        }
    }
    &:hover h3, &:hover p {
        animation: txt-area-resizer 0.5s ease-out forwards;
    }
    &:hover .tasteandprice-txt .price {
        transform: translateX(-60px);
        transition: 0.5s ease-out;
    }
}
/*Buttons*/
.btn:hover {
    &:hover {
        cursor: pointer;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        background: linear-gradient(180deg, $btn-anim-first-color, $btn-anim-second-color);
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
    }
}
/*heart-icon*/
.heart-animation:hover {
    cursor: pointer;
    background-image: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    animation: fade-in 1.5s ease-in-out;
}
/*Keyframes*/
/*Loader*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lefttoright {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-1rem);
    }
    75% {
        transform: translateX(1rem);
    }
    100% {
        transform: translateX(0);
    }
}
/*Entrées-Plats-Desserts*/
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes move-up {
    0% {
        transform: translateY(45px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes to-left {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes txt-area-resizer {
    0% {
        width: 100%;
    }
    100% {
        width: 65%;
    }
}
