button {
    height: 3rem;
    width: 13rem;
    font-size: 1rem;
    background: linear-gradient(180deg, $secondary-color 0%, $primary-color 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: 0;
    color: white;
}