.loader-container {
    position: fixed;
    z-index: 2;
    background: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    animation: fade-out 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    @include flexcenterXY;
    .loader-txt {
        @include flexcenterXY;
        .loader-logo {
            font-family: "Shrikhand";
            font-size: 32px;
            animation: lefttoright 2s ease-in-out;
            -webkit-background-clip: text;
        }
        .letter-1 {
            animation-delay: 0s;
        }
        .letter-2 {
            animation-delay: 0.1s;
        }
        .letter-3 {
            animation-delay: 0.2s;
        }
        .letter-4 {
            animation-delay: 0.3s;
        }
        .letter-5 {
            animation-delay: 0.4s;
        }
        .letter-6 {
            animation-delay: 0.5s;
        }
        .letter-7 {
            animation-delay: 0.6s;
        }
        .letter-8 {
            animation-delay: 0.6s;
        }
    }
    .loader {
        position: absolute;
        display: block;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        border: 7px solid transparent;
        border-top-color: $primary-color;
        animation: spin 2s linear infinite;
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 7px solid transparent;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border-top-color: $secondary-color;
            animation: spin 3s linear infinite;
        }
        &::after {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 7px solid transparent;
            top: 25px;
            left: 25px;
            right: 25px;
            bottom: 25px;
            border-top-color: $tertiary-color;
            animation: spin 1.5s linear infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lefttoright {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-1rem);
    }
    75% {
        transform: translateX(1rem);
    }
    100% {
        transform: translateX(0);
    }
}
