    .restaurants-container {
        background-color: $background;
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding: 52px 12px 0px 12px;
        height: 1145px;
        .restaurant-card {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 230px;
            border-radius: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            .card {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                @include text-decoration-none;
                position: relative;
                .new {
                    position: absolute;
                    right: 11px;
                    top: 11px;
                    width: 80px;
                    height: 33px;
                    background: $tertiary-color;
                    color: $darkgreen;
                    border-radius: 2px;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                    font-weight: 500;
                    font-size: 14px;
                    @include flexcenterXY;
                }
            .card-picture {
                width: 100%;
                height: 160px;
                border-radius: 15px 15px 0px 0px;
                object-fit: cover;
                object-position: center bottom;
                display: block;
                }
                .card-size {
                    background: white;
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                    border-radius: 0 0 15px 15px;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .txt {
                        position: absolute;
                        top: 170px;
                        left: 12px;
                        h3 {
                            margin: 0px;
                            font-size: 17px;
                            padding-bottom: 3px;
                        }
                        p {
                            margin: 0px;
                            font-size: 15px;
                        }
                    }
                    .heart-icon {
                        position: absolute;
                        top: 178px;
                        right: 20px;
                        font-size: 26px;
                    }
                }
            }
        }
    }


