.working-container {
    height: 435px;
    padding: 45px 12px 0px 12px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    .working-title {
        padding-left: 20px;
    }
    .list-style {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-left: 20px;
    }
        li {
            width: 95%;
            height: 72.38px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            padding-left: 12px;
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            background-color: $background;
        }

}