@mixin flexcenterXY {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text-decoration-none {
    text-decoration: none;
    color: black;
}

@mixin animation-menu($animation-delay) {
    opacity: 0;
    animation: fade-in 1.4s ease-out forwards, move-up 1s ease-in-out forwards;
    animation-delay: $animation-delay;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin txt-ellipsis {
    animation: txt-area-resizer 0.5s ease-out forwards;
}

/*Responsive*/

@mixin desktop-only {
    @media screen and (min-width: 800px) {
        @content;
    }
}

@mixin small-desktop {
    @media screen and (min-width: 800px) and (max-width: 1300px) {
        @content;
    }
}
