@mixin flexcenterXY {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text-decoration-none {
    text-decoration: none;
    color: black;
}

@mixin desktop-only {
    @media screen and (min-width: 800px) {
    @content;
    }
}

@mixin animation-menu($animation-delay){
    opacity: 0;
    animation: fade-in 1.4s ease-out forwards, move-up 1s ease-in-out forwards;
    animation-delay: $animation-delay;
}
