/****** Colors ***********/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$heart-first-color: #ff88de;
$heart-second-color: #9b63df;
$light-grey: #eaeaea;
$darkgrey: #353535;
$background: #F6F6F6;
$white: #FFFF;
$darkgreen: #008766;
$black: black;
