/****** Colors ***********/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$light-grey: #eaeaea;
$grey2: #7E7E7E;
$darkgrey: #353535;
$background: #F6F6F6;
$white: #FFFF;
$darkgreen: #008766;
$lightBlue: #89C8FA;
$darkBlue: #003A68;
$purple: #9356DC;
$purple2: #623a93;
$purple3: #3a2256;
$black: black;
